html {
	/* general styles setting for whole HTML */
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

body {
	/* General style setting fir body section  */
	margin: 20px auto;
	padding: 0 20px 400px;
	max-width: 800px;
	border: 3px solid #cccccc;
}

header>h1 {
	/* set styles for h1 text which is in the header  */
	text-align: center;
}

.profile-section {
	/* style for profile page */
	border-radius: 10px;
	background-color: #a0dbfd;
	padding: 50px;
	text-align: center;
}

.profile-container {
	/* Styles for the profile container which contains profile detail */
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-details {
	/* Styles for the profile details which contains profile image, user name and information */
	max-width: 500px;
	margin: 0 auto;

}

.profile-image {
	/* Set the layout for the profile image */
	position: relative;
	width: auto;
	height: auto;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
}

.profile-image img {
	/* Styles for the profile image */
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.5s ease;
}

.profile-image::before {
	/* Styles for the profile image's overlay  */
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity 0.5s ease;
}

.profile-image:hover::before {
	/* set the hover animation for profile image  */
	opacity: 1;
}

.profile-details h1 {
	/* set the style for h1 text which is under profile detail  */
	font-size: 36px;
	margin: 20px 0;
	color: #171717;
	text-transform: uppercase;
}

.profile-info {
	/* set the style for profile info section which contains profile image, information and name  */
	list-style: none;
	padding: 0;
	margin: 0;
}

.profile-info li {
	/* set the style for information list  */
	font-size: 18px;
	margin-bottom: 10px;
	color: #666;
}

.profile-info li strong {
	/* set the style of information's title  */
	font-weight: bold;
	font-size: 22px;
	color: #171717;
}

@media (max-width: 768px) {

	/* Media query for responsive layout on smaller screens */
	.profile-details {
		max-width: 90%;
	}

	.content,
	.box {
		font-size: 75%;
	}


	.bl-expand .box {
		height: 130px;
	}

	.content>ul li {
		width: 40%;
	}
}

.form-row {
	/* set tyles for form rows */
	margin-bottom: 20px;
}

label {
	/* Styles for labels */
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

select {
	/* Styles for select dropdown */
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 4px;
	background-color: #f5f5f5;
	color: #333;
	font-size: 16px;
}

.checkbox-container {
	/* Styles for checkbox container */
	color: #8f8f8f;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	background-color: #f5f5f5;
}

.checkbox-container input[type="checkbox"] {
	/* Styles for checkboxes */
	margin-right: 10px;
}

body {
	/* Additional styles for form appearance */
	font-family: 'Roboto', sans-serif;
	background-color: #f0f0f0;
	padding: 20px;
}

form {
	/* basic styles for form section  */
	background-color: #b8ddff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 500px;
	margin: 0 auto;
}

input[type="text"] {
	/* Styles for text input */
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 4px;
	background-color: #f5f5f5;
	color: #333;
	font-size: 16px;
}

input[type=time] {
	border: none;
	color: #333;
	font-size: 14px;

	width: 100%;
	border-radius: 3px;
}

#submit {
	/* set style for submit button  */
	margin-top: 20px;
	text-align: center;
}

#submit input[type="submit"] {
	/* Styles for the submit button */
	background-color: #1b4965;
	color: white;
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#submit input[type="submit"]:hover {
	/* Hover styles for the submit button */
	transform: scale(1.1);
}

body,
html {
	/* Styles for the body and html elements */
	font-size: 100%;
	padding: 0;
	margin: 0;
	height: 100%;
}

*,
*:after,
*:before {
	/* Box sizing styles for all elements */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	/* Styles for the body */
	font-family: 'Poppins', sans-serif;
	color: #8f8f8f;
	background: #171717;
	font-size: 0.9em;
	font-weight: 300;
}

a {
	/* Styles for links */
	color: #464646;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 80%;
}

a:hover {
	/* Hover styles for links */
	color: #fff;
}

.main {
	/* set the general styles for main section which contains all three sections  */
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.main>section {
	/* Styles for each section within the main section */
	position: absolute;
	width: 33%;
	height: 100%;
}

.main>section:first-child {
	/* Styles for the first section within the main section which is profile section  */
	top: 0;
	left: 0;
	color: #f0f0f0;
	background: #5fa8d3;
}

.main>section:nth-child(2) {
	/* Styles for the second section within the main section which is data summary section */
	top: 0;
	left: 33%;
	color: #1b4965;
	background: #f0f0f0;
}

.main>section:nth-child(3) {
	/* Styles for the third section within the main section which is new activity section*/
	top: 0;
	left: 66%;
	color: #f0f0f0;
	background: #1b4965;
}

.box {
	/* reference: https://tympanus.net/codrops/2013/04/23/fullscreen-layout-with-page-transitions/ */

	/* Styles for the box which is the main title for each section*/
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.box h2 {
	/* set the styles for h2 text which is under the box  */
	text-align: center;
	margin: 0;
	padding: 20px;
	width: 100%;
	font-size: 1.8em;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
}

.bl-icon {
	/* set the styles for close icon  */
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}

.bl-icon:before {
	/* set the styles for pseudo-elements - close icon */
	display: block;
	font-size: 2em;
	margin-bottom: 10px;
}

.main>section .bl-icon-close {
	/* styles for close section which under 'section'  */
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
}

.content,
div.bl-panel-items>div>div {
	/* targets elements with the classes .content and div.bl-panel-items>div>div. */
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 60px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	padding: 0 20px;
	overflow: hidden;
	overflow-y: auto;
}


.content p {
	/* set the style of p text in each page  */
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	padding-bottom: 15px;
	font-size: 1.7em;
	line-height: 1.8;
}

.content h2 {
	/* set the style of h2 text in each page  */
	font-family: 'Poppins', sans-serif;
	font-size: 3em;
	font-weight: 300;
	margin: 0 0 20px 0;
}

.content h4 {
	/* set the style for h4 text  */
	position: sticky;
	top: 0;
	overflow-y: auto;
}

.summary_table {
	color: #171717;
	flex: 1;
	display: flex;
	margin: -1px;
	flex-direction: column;
	margin-top: 30px;
	margin-bottom: 30px;
}

.table_row {
	display: flex;
	flex-direction: row;
	flex: 1;
}

.table_content {
	padding: 2%;
	border: 1px dashed #163c5379;
	border-radius: 4;
	position: relative;
}

.table_integer {
	text-align: right;
	color: #1b4965;
	position: relative;
	bottom: 0;
	margin-top: 6%;
	margin-left: 10%;
}

#data_container {
	/* set the style and layout of weekly chart and data cards  */
	display: flex;
	align-items: flex-start;
	position: relative;
}

#chart-container {
	/* place the chart  */
	margin-bottom: 0%;
}

.data-list {
	overflow-y: scroll;
}

/* Transition classes and properties */
/* Separated for a better overview and control */
.main>section {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.main>section.bl-expand {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.main>section.bl-expand-top {
	z-index: 100;
}

.main>section:first-child.bl-expand {
	/* set the bg color of first section (profile section) */
	background: #5fa8d3;
}

.main>section:nth-child(2).bl-expand {
	/* set the bg color of second section (summary section) */
	background: #f0f0f0;
}

.main>section:nth-child(3).bl-expand {
	/* set the bg color of third section (form section) */
	background: #1b4965;
	color: #5fa8d3;
}

.main.bl-expand-item>section:not(.bl-expand),
.main.bl-expand-item>section.bl-scale-down {
	/* set main styles for transition  */
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0;
}

.box {
	/* set the transition styles for box  */
	-webkit-transition: opacity 0.2s linear 0.5s;
	-moz-transition: opacity 0.2s linear 0.5s;
	transition: opacity 0.2s linear 0.5s;
}

section.bl-expand .box {
	/* set teh styles for animation  */
	opacity: 0;
	-webkit-transition: opacity 0s linear;
	-moz-transition: opacity 0s linear;
	transition: opacity 0s linear;
}

.no-touch section:not(.bl-expand) .box:hover h2 {
	/* set the hover animation for three main button (profile, data summary, new activity)  */
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
}

.box h2 {
	/* set the style of animation of three main buttons */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.content,
.bl-icon-close {
	-webkit-transition: opacity 0.1s linear 0s;
	-moz-transition: opacity 0.1s linear 0s;
	transition: opacity 0.1s linear 0s;
}

section.bl-expand .content,
section.bl-expand .bl-icon-close {
	pointer-events: auto;
	opacity: 1;
	-webkit-transition: opacity 0.3s linear 0.5s;
	-moz-transition: opacity 0.3s linear 0.5s;
	transition: opacity 0.3s linear 0.5s;
}

.card {
	/* set the style for exercise card  */
	width: 100%;
	position: relative;
	margin: 1rem;
	background: #f0f0f0;
	box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
	border-radius: 10px;
	overflow: hidden;
	transition: all 0.1s linear;
}

.card:hover {
	/* set the hover style for exercise card  */
	transform: scale(1.02);
}

.card h1 {
	/* set the h1 text for exercise card  */
	text-align: center;
	padding: 1.5rem .5rem;
	background-image: linear-gradient(90deg, #1b4965 0%, #a6c1ee 100%);
	font-size: 1.8rem;
	color: white;
}

.card p {
	/* set the p text for exercise card  */
	padding: 2em;
	margin: 0;
	font-size: 1.4rem;
}

.delete-button {
	/* set the style for delete button  */
	background-color: #ff4d4d;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 500;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-left: 40%;
	margin-bottom: 5%;
}

.delete-button:hover {
	/* hover style for delete button */
	background-color: #ff2020;
	transform: scale(1.05);
}